li{
    list-style-type: none;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 4rem;
}

li:hover{
    background-color: #FA7070;
    cursor: pointer;
    transition: background-color .5s;
}

.active {
    background-color: #FA7070;
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    height: 7rem;
    background: #151932;
    border-radius: 5rem;
    color: #D7E0FF;
    font-size: 30px;
    font-weight: 600;    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    gap: .25rem;
}