.container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 30rem;
    height: 30rem;
    background-color: rgb(238, 242, 255);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.head{
    color                   : black;
    font-size               : 35px;
    border-top-left-radius  : 5rem;
    border-top-right-radius : 5rem;
    height                  : 4rem;
    display                 : flex;
    flex-direction          : row;
    justify-content         : space-between;
    align-items             : center;
    border-bottom           : 1px rgb(212, 212, 212) solid;
    padding-left            : 4rem;
    /* padding-right           : 1rem; */
}

.close-button{
    width               : 10%;
    height              : 100%;
    display             : flex;
    flex-direction      : row;
    align-items         : center;
    justify-content     : center;
    border-top-right-radius : 1.7rem;
    cursor              : pointer;
    font-size: 30px ;
    padding-inline: .75rem;
}

.close-button:hover{
    background-color    : #151932;
    color: aliceblue;
    transition          : background-color .5s , color .5s;
    transition          :  ;
}

.periods p , .modal-body p{
    margin: 0px;
    color: black;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 500;
    gap: 3rem;
    padding-inline: 3rem;
}

.periods{
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: space-between;
    height: 2rem;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}